<!DOCTYPE html>
<html>

<head>
  <% include head.ejs %>
</head>

<body>
  <header>
    <% include header.ejs %>
  </header>
  <main>
    <div class="jumbotron">
      <h1><%= title %></h1>
      <p>Welcome to TESA Sensors</p>
    </div>
    <h2>Sensor type</h2>

    <ul>
        <li><a href="/show/temperature">Temperature </a></li>
      <li><a href="/show/accelerometer">Accelerometer</a></li>
      <li><a href="/show/din1">Digital Input1</a></li>
    </ul>
  </main>
  <footer>
    <% include footer.ejs %>
  </footer>
</body>

</html>
